body {
  font-size: 36px;
  font-family: sans-serif;
  background-color: #fee5e2;
}

main {
  padding: 100px;
}

button {
  display: block;
  font-size: 24px;
  height: 100px;
  margin: 24px;
  width: 100px;
  background-color: #fa8072;
  border-radius: 18px;
}
.opener {
  display: flex;
}
#banner {
  display: inline;
  margin: 24px;
}

#fish {
  height: 120px;
}

#score {
  display: block;
  margin: 24px;
  font-size: 22px;
}

.container {
  border: 1px solid #4b2622;
  height: 220px;
  padding: 36px;
  position: relative;
  width: 1000px;
}

.player {
  border: 1px solid grey;
  height: 128px;
  left: 12px;
  position: absolute;
  width: 128px;
}

.red {
  background-color: #c8665b;
  top: 12px;
}

.blue {
  background-color: #fba69c;
  top: 152px;
}
